@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic);

/* MeyerWeb Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 17px;
  font-family: Ubuntu, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
/*  letter-spacing: -1px;*/
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url(/images/bg_hr.png) repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

small {
  font-size: 70%;
  color: gray;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

a.button {
  display: inline-block;
  padding: 0.3em 1.5em;
  border: 1px solid #2b983b;
  border-radius: 3px;
  background: #33b643;
  text-shadow: #1b5f25 1px 1px 1px;
  font-size: 1.3em;
  color: #ffffff;
  text-decoration: none;
}

a.button:hover, a.button:focus {
  background: #4fe16d;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style: outside;
  padding-left: 1em;
}

ol {
  list-style: decimal inside;
  padding-left: 1em;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 1em;
  font-style: italic;
}

dl p {
  padding-left: 1em;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url(/images/bg_hr.png) repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 800px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url(/images/blacktocat.png) rgba(0,0,0,0.4) no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background-color: rgba(0,0,0,0.85);
  background-image: linear-gradient(to right,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
}

#header_wrap .inner {
  padding: 40px 10px 10px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0 0 10px;
  position: relative;
}

#project_title a {
  color: inherit;
}

#project_title a:hover {
  text-decoration: none;
}

img.logo {
  position: absolute;
  border: none;
  box-shadow: none;
  height: 96px;
  width: 96px;
  left: -125px;
  top: -28px;
}

#project_tagline {
  right: 0;
  color: #fff;
  font-size: 21px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0 0 10px;
}

#main_content_wrap {
  background: #fff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 20px;
}

#horizontal_ad {
  max-width: 100%;
  overflow: auto;
}

#vertical_ad {
  position: absolute;
  right: -200px;
  top: 20px;
}

a.featured {
  display: block;
  float: right;
  width: 450px;
  height: 420px;
  padding: 0;
  margin: 0;
  background-image: url(/screenshots/ipscan-ubuntu-lores.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a.featured.windows {
  background-image: url(/screenshots/ipscan-win10-lores.png);
}

a.featured:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: linear-gradient(to right, transparent, white);
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

#menu {
  float: right;
  margin-top: -49px;
}

#menu ul {
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0;
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}

#menu ul li {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 3px;
}

#menu ul li.active {
  background: rgba(255,255,255,0.3);
}

#menu ul li a {
  color: white;
}

#footer_wrap {
  background: #212121;
}

#main_content.screenshots img {
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0 0 -6px;
}

.accordion section h2 {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 1px;
}

.accordion section:last-of-type h2 {
  margin-bottom: 0;
}

.accordion section h2 a {
  border-radius: 5px;
  padding:8px 10px;
  display:block;
  color:white;
  text-decoration:none;
  background-color: rgba(0,0,0,0.85);
  background-image: linear-gradient(to right,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
}

.accordion section h2:hover a {
  background-color:#444;
}

.accordion section .content {
  max-height: 0;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  transition: 0.2s;
}

.accordion section:target .content {
  max-height: 800px;
  transition: 0.6s;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 1024px) {
  img.logo {
    width: 64px;
    height: 64px;
    top: -14px;
    left: -88px;
  }

  #vertical_ad {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #project_title {
    margin-left: 85px;
  }

  #project_tagline {
    float: none;
    margin-top: 0;
    margin-left: 85px;
  }

  #menu {
    margin-left: 75px;
    clear: both;
    float: none;
    margin-top: 0;
  }
}

@media screen and (max-width: 625px) {
  body {
    font-size:14px;
  }

  #project_title {
    font-size: 28px;
  }

  #project_tagline {
    font-size: 14px;
  }

  #vertical_ad {
    display: none;
  }

  #menu {
    margin-left: 0;
  }

  img {
    max-width: 100%;
  }

  a.featured {
    float: none;
    width: 96%;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}

@media screen and (max-width: 360px) {
  #project_title {
    font-size: 24px;
  }

  #project_tagline {
    font-size: 12px;
  }

  #menu ul li {
    width: 80px;
    text-align: center;
  }
}