Package: ipscan
Section: net
Version: VERSION-1
Priority: optional
Architecture: ARCH
Installed-Size: 1710
Depends: openjdk-11-jre | openjdk-10-jre | oracle-java10-installer | openjdk-9-jre | oracle-java9-installer | openjdk-8-jre | oracle-java8-installer | openjdk-7-jre | oracle-java7-installer
Maintainer: Anton Keks <anton@azib.net>
Description: Angry IP Scanner - fast and friendly IP Scanner
 Angry IP Scanner is a cross-platform network scanner written in Java.
 It can scan IP-based networks in any range, scan ports, and resolve
 other information.
 The program provides an easy to use GUI interface and is very extensible,
 see https://angryip.org/ for more information.
