Package: ipscan
Section: net
Version: VERSION-1
Priority: optional
Architecture: ARCH
Installed-Size: 1710
Depends: openjdk-6-jre | openjdk-7-jre | openjdk-8-jre | sun-java6-jre | oracle-java7-installer | oracle-java8-installer
Maintainer: Anton Keks <anton@azib.net>
Description: Angry IP Scanner - fast and friendly IP Scanner
 Angry IP Scanner is a cross-platform network scanner written in Java.
 It can scan IP-based networks in any range, scan ports, and resolve
 other information.
 The program provides an easy to use GUI interface and is very extensible,
 see http://angryip.org/ for more information.
