<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {%if page.keywords != null%}<meta name="keywords" content="{{ page.keywords }}">{%endif%}
    {%if page.description != null%}<meta name="description" content="{{ page.description }}">{%endif%}
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/angryziber/ipscan">View on GitHub</a>
          
          <h1 id="project_title"><a href="/"><img src="/images/icon.png" class="logo">Angry IP Scanner</a></h1>
          <h2 id="project_tagline">Fast and friendly network scanner</h2>
          
          <section id="menu">
            <ul>
              <li class="{%if page.url == '/about/index.html'%}active{%endif%}"><a href="/about/">About</a></li>
              <li class="{%if page.url == '/screenshots/index.html'%}active{%endif%}"><a href="/screenshots/">Screenshots</a></li>
              <li class="{%if page.url == '/download/index.html'%}active{%endif%}"><a href="/download/">Download</a></li>
              <li class="{%if page.url == '/faq/index.html'%}active{%endif%}"><a href="/faq/">FAQ</a></li>
              <li class="{%if page.url == '/contribute/index.html'%}active{%endif%}"><a href="/contribute/">Contribute</a></li>
            </ul>
          </section>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner {{ page.title | downcase }}">

        <div id="horizontal_ad">
          <!-- main: new site -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-1387152161263228"
               data-ad-slot="4063266514"></ins>
        </div>

        {{ content }}

        <div id="vertical_ad">
          <!-- vertical: new site -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:160px;height:600px"
               data-ad-client="ca-pub-1387152161263228"
               data-ad-slot="7016732919"></ins>
        </div>
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angry IP Scanner maintained by <a href="https://github.com/angryziber">angryziber</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    (adsbygoogle = window.adsbygoogle || []).push({});

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10776159-1', 'angryip.org');
    ga('send', 'pageview');
  </script>
</html>
