<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/angryziber/ipscan">View on GitHub</a>

          <h1 id="project_title">Angry IP Scanner</h1>
          <h2 id="project_tagline">Fast and friendly network scanner</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/angryziber/ipscan/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/angryziber/ipscan/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
         {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angry IP Scanner maintained by <a href="https://github.com/angryziber">angryziber</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
