[Desktop Entry]
Encoding=UTF-8
Name=Angry IP Scanner
Comment=Fast and friendly network scanner
GenericName=Fast and friendly network scanner
Exec=/usr/bin/ipscan
Terminal=false
Type=Application
Icon=ipscan
Categories=Application;Network;Internet;
StartupWMClass=Angry IP Scanner
StartupNotify=true
