[Desktop Entry]
Name=Angry IP Scanner
Comment=Fast and friendly network scanner
GenericName=Fast and friendly network scanner
Keywords=angry;ipscan;ip;scan;scanner
Exec=sh /usr/bin/ipscan
Terminal=false
Type=Application
Icon=net.azib.ipscan
Categories=Application;Network;
StartupWMClass=Angry IP Scanner
StartupNotify=true
